* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

header, footer {
    background-color: #61b8c7;
    padding-top: 16px;
    color: white;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
header h1 {
    font-style: italic;
}

header >.container,
footer >.container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:16px;
}

header nav li {                                       /*Alinhamento da lista do menu*/
    display: inline;
    margin-left:16px;
    font-size: 25px;
}
header nav li a {                                    /* Layout e caracteristicas da lista do menu*/
    color: #ffffff;
    text-decoration: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

.loja {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.tenis {
    margin-right: 34px;
    
}

.lista-tenis {
    flex-wrap: wrap;
}

.lista-tenis li {
    list-style: none;
    max-width: 20%;
    margin-bottom: 15px;
}

.lista-tenis li img {
    max-width: 100%;
}

.item-central {
    margin: 0 5%;
}

#adidas, #allstar  {
    transform: scaleX(-1)
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: rgb(56, 186, 56);
    color:white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}